.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

.idea/

test/test.db
test/test.db.bak
test/shopping_carts.db
test/shopping_carts.db.bak